<h3> Reviews for <%= @receiver.login %> </h3>
<div id="content">
  <div class="itemdetail">
    <% if @comment_Hash.empty? %>
        <h4>There are no comments for this user. </h4>
    <% else %>

        <% @comment_Hash.each do |c, s| %>
            <ul class="pageitem">
              <div class= "unRead">
              <div class="bigText">
                <%= s.login %>  said .....
              </div>

              <div class="mediumText">
                Rating: <%= c.rating %>
              </div>
              <br/>
              <div class="mediumText">
                <%= c.comment_text %>
              </div>
              <div class="lightText">
                <%= c.created_at.strftime("%B %d %Y (%a)") %>
              </div>
              </div>
            </ul>
        <% end %>

    <% end %>
  </div>
</div>