<body>
<div id="topbar">
	<div id="leftnav">
		<a href="/items"><img alt="home" src="/images/home.png" /></a>
	</div>
</div>
	
<div id="content">
	<%= form_for @user do |f| %>
		<span class="graytitle">Update Login Information</span>
				
		<ul class="pageitem">
			<li class="smallfield"><span class="name">Name</span><%= f.text_field :login, :placeholder=>"Username" %><br />
			<li class="smallfield"><span class="name">Email</span><%= f.text_field :email, :placeholder=>"example@example.com" %><br />
			<li class="smallfield"><span class="name">New Password</span><%= f.password_field :password, :placeholder=>"Enter Password" %><br />
			<li class="smallfield"><span class="name">New Password Confirmation</span><%= f.password_field :password_confirmation, :placeholder=>"Confirm Password" %><br />
			<li class="smallfield"><span class="name">Home Address</span><%= f.text_field :address, :placeholder=>'Address' %><br />
			<li class="button"><%= f.submit "Update" %></li>
			<li class="button"><%= link_to 'Discard changes', @user%></li>
			<li class="textbox"><%= f.error_messages %></li>
		</ul>

		<!-- <ul class="pageitem"><li class="smallfield"><span class="name">
			<%= link_to 'Discard changes', @user%>
		</span> </li></ul>	 -->
	
	<% end %>
</div>

</body>