<div id="content">
  <div class="itemdetail">
    <% if @messages.blank? %>
        <h4>There are no messages in inbox. </h4>
    <% else %>
        <h3> Inbox </h3>
        <% if !@messagesUnread.blank? %>

            <% if @numberOfUnreadMessages > 1 %>
                <h3><%= @numberOfUnreadMessages %> new messages</h3>
            <% else %>
                <h3><%= @numberOfUnreadMessages %> new message</h3>

            <% end %>
            <% @messagesUnread.each do |m| %>
                <ul class="pageitem">
                  <a href='<%= show_message_path(m.id) %>'>

                    <div class="bigText">
                      <%= m.topic %>
                    </div>

                    <div class="mediumText">
                      From: <%= @messagesHash[m.id] %>
                    </div>


                    <div class="lightText">
                      <%= m.created_at.strftime("%B %d %Y (%a)") %>
                    </div>

                  </a>
                </ul>
            <% end %>
        <% end %>


        <% if !@messagesRead.blank? %>
            <h4>Read Messages</h4>
            <% @messagesRead.each do |m| %>
                <ul class="pageitem">
                  <div class="read">
                    <a href='<%= show_message_path(m.id) %>'>

                      <div class="bigText">
                        <%= m.topic %>
                      </div>

                      <div class="mediumText">
                        From: <%= @messagesHash[m.id] %>
                      </div>


                      <div class="lightText">
                        <%= m.created_at.strftime("%B %d %Y (%a)") %>
                      </div>


                    </a>
                  </div>
                </ul>
            <% end %>
        <% end %>

        <ul class="pageitem">
                <span class="name">
                    <% @flag = "inbox" %>
                  <%= link_to 'Delete all', delete_messages_path(@flag) %>
            	</span>
        </ul>

		<ul class="pageitem">
                <span class="name">
                    <a href="/outbox">Outbox</a>
					
            	</span>
        </ul>
		

    <% end %>
  </div>
</div>