<div id="content">
  <span class="graytitle">View Profile</span>

  <div class="itemdetail">

    <ul class="pageitem">
      <div class="itemhighlight">
        <li>
          <h3><%= @user.login %></h3>
        </li>
      </div>
      <li>
        <i><%= @user.email %></i>
      </li>
      </br>
      <li>
        <i><%= @user.get_state %></i>
      </li>
	  <li>
		<i>Average Rating: <%= @user.average_rating %></i>
	  </li>
      </br>
      <% if !@user.interests.blank? %>
          <li>
            <b>Interested in </b>
            <br/>
            <%= @user.interests %>
          </li>
          </br>
      <% end %>
    </ul>

    <ul class="pageitem">
      <span class="name">
      	<%= link_to 'My Reviews', comments_path(@user.id) %>
      </span>
    </ul>

    <ul class="pageitem">
      <span class="name"><%= link_to 'Edit Profile', edit_user_path(@user) %></span>
    </ul>

  </div>
</div>