<div id="content">
  <div class="itemdetail">
    <ul class="pageitem">

      <li>
        <div class="bigText">
          <%= @message.topic %>
        </div>
      </li>

      <li>
        <div class="mediumText">
          Sent to: <%= @receiver.login %>
        </div>
      </li>

      <li>
        <% @bodyTexts.each_with_index do |b, x| %>
            <div class="mediumText">
              <% if x== 0 %>
                  <p><%= b %></p>
              <% else %>
                  <p><div class="lighter"><%= b %></div></p>
              <% end %>
            </div>
        <% end %>
      </li>

      <li>
        <div class="lightText">
          <%= @message.created_at.strftime("%B %d %Y (%a)") %>
        </div>
      </li>

    </ul>

    <ul class="pageitem">
      	<span class="name">
      		<%= link_to 'Delete', delete_message_path(@message) %>
      	</span>
    </ul>

  </div>
</div>