<body class="applist">

<div id="topbar">
	<div id="leftnav">
		<a href="index.html"><img alt="home" src="images/home.png" /></a><a href="classiclist.html">Classic 
		list</a></div>
	<div id="rightnav">
		<a href="storelist.html">iTunes list</a></div>
</div>
<div id="content">
	<ul>
	<% for item in @items %>
		<li><a href='<%= item_path(item) %>'>
		<span class="image" style="background-image: url('<%= item.avatar.url(:thumb) %>')"></span>
		<span class="comment"><%= item.location %></span>
		<span class="name"><%= item.title%></span>
		<span class="stars4"></span>
		<span class="starcomment">160 Ratings</span>
		<span class="arrow"></span><span class="price">$<%= item.rental_price %></span></a></li>
	<% end %>
	</ul>
</div>

</body>