<script type="text/javascript">
$(function() {
	$("#item_schedule_from").datepicker();
	$("#item_schedule_from").datepicker("option", "dateFormat", "yy-mm-dd");
	$("#item_schedule_from").val("<%=@item.schedule_from%>");
	$("#item_schedule_to").datepicker();
	$("#item_schedule_to").datepicker("option", "dateFormat", "yy-mm-dd");
	$("#item_schedule_to").val("<%=@item.schedule_to%>");
});
</script>
<div id="topbar">
	<div id="leftnav">
		<a href="index.html"><img alt="home" src="/images/home.png" /></a>
	</div>
</div>
<div id="content">
	<%= form_for @item,:html => { :multipart => true }, :url => {:action => "create"} do |f| %>
		<span class="graytitle">Category</span>
		<ul class="pageitem">
			<li class="select">
				<%= f.select :category, options_for_select({"car" => 1, "boat" => 2},
				 	:selected => @item[:category]) %>
			</li>
		</ul>
		<span class="graytitle">Condition</span>
		<ul class="pageitem">
			<li class="select">
				<%= f.select :condition, options_for_select({"95%" => 95, "90%" => 90},
					:selected => @item[:condition]) %>
			</li>
		</ul>
		</ul>
  			<%= f.label 'Photo' %><br />
  			<%= f.file_field :photo %>
		</ul>
		<ul class="pageitem">
			<li class="smallfield"><span class="name">Title</span><%= f.text_field :title, :placeholder=>"Title" %><br />
			<li class="smallfield"><span class="name">Description</span><%= f.text_field :description, :placeholder=>"Desc" %><br />
			<li class="smallfield"><span class="name">Rental Price</span><%= f.text_field :rental_price, :placeholder=>"100" %><br />
			<li class="smallfield"><span class="name">Deposit</span><%= f.text_field :deposit, :placeholder=>"100" %><br />
			<li class="smallfield"><span class="name">Location</span><%= f.text_field :location, :placeholder=>"Location" %><br />
			<li class="smallfield"><span class="name">From</span><%= f.text_field :schedule_from %><br />
			<li class="smallfield"><span class="name">To</span><%= f.text_field :schedule_to %><br />
			<li class="button"><%= f.submit "Create" %></li>
		</ul>
	
		<ul class="pageitem">
			<li class="textbox"><%= f.error_messages %></li>
		</ul>
	<% end %>
</div>