<script type="text/javascript">
$(function() {
	$("#offer_rent_from").datepicker();
	$("#offer_rent_from").datepicker("option", "dateFormat", "yy-mm-dd");
	$("#offer_rent_to").datepicker();
	$("#offer_rent_to").datepicker("option", "dateFormat", "yy-mm-dd");
});
</script>

<div id="topbar">
	<div id="leftnav">
		<a href="/index"><img alt="home" src="/images/home.png" /></a>
	</div>
	<div id="rightnav">
		<%= link_to 'Edit', edit_item_path(@item) %>
	</div>
</div>

<div id="content">
	<div class = "itemdetail" >
	<ul class="pageitem">
	<% if @item.avatar_file_name != nil %>
		<li><%= image_tag @item.avatar.url %></li>
	<% else %>
		<li><i>Image not available</i></li>
	<% end %>
		<div class = "itemhighlight" >
		<li>
			<h3><%= @item.title %></h3>
		</li>
		</div>
		<li>
			<i><%= @item.description %></i>
		</li></br>
        <li>
			<%= parse_condition(@item.condition) %> condition
		</li></br>
		<li>
			Available on</br>
			<%= @item.schedule_from.strftime("%B %d %Y (%a)") %> - <%= @item.schedule_to.strftime("%B %d %Y (%a)") %>
		</li></br>
		<table>
			<tr>
				<td><li><b>Category:</b> <%= parse_category @item.category %></li></td>
				<td><li><b>At:</b> <%= @item.location %></li></td>
			</tr>
			<tr>
				<td><li><b> Rental Price:</b> $ <%= @item.rental_price %></li></td>
				<td><li><b>Deposit:</b> $ <%= @item.deposit %></li></td>
			</tr>
		</table></br></br>
	</ul>
<span class="name">
			<%= link_to 'Contact the owner', sendMessage_path(@item.id)  %>
		</span>

	<% if @item.user != current_user %>
	<%= form_for @offer do |f| %>
	<ul class="pageitem">
				<input type="hidden" name="item_id" value="<%=@item.id%>">
		<li class="smallfield"><span class="name">From</span><%= f.text_field :rent_from %><br />
		<li class="smallfield"><span class="name">To</span><%= f.text_field :rent_to %><br />
	</ul>
		<li class="button"><%= f.submit "Contact Owner" %></li>
		<% if not f.error_messages.empty? %>
		<li class="textbox"><%= f.error_messages %></li>
		<% end %>
	<% end %>
	<% end %>
	<ul class="pageitem">
		<span class="name">
			<%= link_to 'Browse more items', items_path %>
		</span>
	</ul>
	</div>
</div>



