<script type="text/javascript">
    $(function () {
        $("#order_rent_from").datepicker();
        $("#order_rent_from").datepicker("option", "dateFormat", "yy-mm-dd");
        $("#order_rent_to").datepicker();
        $("#order_rent_to").datepicker("option", "dateFormat", "yy-mm-dd");
    });
</script>

<div id="content">
  <div class="itemdetail">
    <ul class="pageitem">
      <% if @item.avatar_file_name != nil %>
          <li><%= image_tag @item.avatar.url %></li>
      <% else %>
          <li><i>Image not available</i></li>
      <% end %>
      <div class="itemhighlight">
        <li>
          <h3><%= @item.title %></h3>
        </li>
      </div>
      <li>
        <i><%= @item.description %></i>
      </li>

      <li>
        <%= parse_condition(@item.condition) %> condition
      </li>

      <li><i> -- Posted by
        <%= link_to @item.user.login, user_profile_path(@item.user_id) %>

      </i></li>

      <li>
        Available on</br>
        <%= @item.schedule_from.strftime("%B %d %Y (%a)") %> - <%= @item.schedule_to.strftime("%B %d %Y (%a)") %>
      </li>
      </br>
	  <li>
	  	<% if @item.confirmed_order %>
			--Confirmed to <%= link_to @item.confirmed_order.user.login, user_profile_path(@item.confirmed_order.user) %> from <%=@item.confirmed_order.rent_from%> to <%=@item.confirmed_order.rent_to%>
	    <% end %>
	  </li>
      <table>
        <tr>
          <td>
            <li><b>Category:</b> <%= parse_category @item.category %></li>
          </td>
          <td>
            <li><b>At:</b> <%= @item.location %></li>
          </td>
        </tr>
        <tr>
          <td>
            <li><b> Rental Price:</b> $ <%= @item.rental_price %></li>
          </td>
          <td>
            <li><b>Deposit:</b> $ <%= @item.deposit %></li>
          </td>
        </tr>
      </table>
      </br></br>
    </ul>
    <% if @item.user != current_user %>
		<span class="name">
			<%= link_to 'Contact the owner', sendMessage_path(@item.id) %>
		</span>
        <%= form_for @order do |f| %>
            <ul class="pageitem">
              <input type="hidden" name="item_id" value="<%= @item.id %>">
              <li class="smallfield"><span class="name">From</span><%= f.text_field :rent_from %>
                <br/>
              <li class="smallfield"><span class="name">To</span><%= f.text_field :rent_to %>
                <br/>
            </ul>

            <li class="button"><%= f.submit "Book" %></li>
            <% if not f.error_messages.empty? %>
                <li class="textbox"><%= f.error_messages %></li>
            <% end %>
        <% end %>
    <% elsif @item.confirmed_order.nil? %>
        <ul class="pageitem">
          <% for order in @item.orders %>
              <li>From: <%= order.rent_from %> to: <%= order.rent_to %> by <%= order.user.login %>
                <br/><a href="/order/confirm/<%= order.id %>">Confirm this</a>
          <% end %>
        </ul>
    <% end %>

    <ul class="pageitem">

      <span class="name">
      		<%= link_to 'Write Reviews', new_comment_path(@item.id) %>
      </span>


    </ul>

    <ul class="pageitem">
		<span class="name">
			<%= link_to 'Browse more items', items_path %>
		</span>
    </ul>
  </div>
</div>
