<div id="topbar">
	<div id="leftnav">
		<a href="index.html"><img alt="home" src="/images/home.png" /></a>
	</div>
</div>

<div id="content">
	<ul class="pageitem">
		<li><%= image_tag @item.avatar.url %></li>
		<li>Title: <%= @item.title %></li>
		<li>Category: <%= parse_category @item.category %></li>
		<li>Description: <%= @item.description %></li>
		<li>Location: <%= @item.location %></li>
		<li>Condition: <%= parse_condition(@item.condition) %></li>
		<li>Rental Price: <%= @item.rental_price %></li>
		<li>Deposit: <%= @item.deposit %></li>
		<li>From: <%= @item.schedule_from %></li>
		<li>To: <%= @item.schedule_to %></li>
	</ul>
<div>