<div id="content">
  <div class="itemdetail"> </br> </br>
    <ul class="pageitem">
      <div class="itemhighlight">
        <li>
          <h3><%= @user.login %></h3>
        </li>
      </div>
	<li>
        <i>
			<span class="stars<%=@user.average_rating%>"></span>
        </i>
      </li>
      <li>
        <i>
          <%= @user.email %>
        </i>
      </li>
      <li><br/></li>
      <li>
        <i>
          <%= @user.get_state %>
        </i>
      </li>
	</br>


      </br>
      <% if !@user.interests.blank? %>
          <li>
            <b>Interested in </b>
            <br/>
            <%= @user.interests %>
          </li>
          </br>
      <% end %>

      </br>
    </ul>

    <ul class="pageitem">
        <span class="name">
       		<%= link_to 'Check Reviews', comments_path(@user.id) %>
        </span>
    </ul>
  </div>
</div>